@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: CircularStd;
    src: url("assets/fonts/circular_std.otf") format("opentype");
}

body {
    font-family: 'CircularStd', serif !important;
}